{
  "env": {
    "browser": true,
    "es6": true
    // "jest/globals": true
  },
  "extends": ["airbnb", "prettier", "airbnb/hooks"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": ["error"],
    "no-unused-vars": "warn",
    "no-console": "off",
    "func-names": "off",
    "no-process-exit": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "react/jsx-filename-extension": 0,
    "no-param-reassign": "off",
    "react-hooks/exhaustive-deps": "off",
    "camelcase": "off",
    "import/prefer-default-export": "off",
    "react/prop-types": "off",
    "react/jsx-one-expression-per-line": "off"
    // "import/order": [
    //   "error",
    //   {
    //     "groups": ["builtin", "external", "internal"],
    //     "pathGroups": [
    //       {
    //         "pattern": "react",
    //         "group": "external",
    //         "position": "before"
    //       }
    //     ],
    //     "pathGroupsExcludedImportTypes": ["react"],
    //     "newlines-between": "always",
    //     "alphabetize": {
    //       "order": "asc",
    //       "caseInsensitive": true
    //     }
    //   }
    // ]
  }
}
